# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Entorno virtual
.venv/
venv/

# PyInstaller
build/
dist/
*.spec
*.exe

# VS Code
.vscode/

# Logs y temporales
*.log
*.tmp

# Sistema
.DS_Store
Thumbs.db
